body
{
    margin: 20px;
    background:whitesmoke;
}
.avatar{
    width: 480px;
    border: 1px dotted grey; 
}
.card
{
   border: 2px dotted grey; 
   padding: 20px;
   display: flex;
}
.border{
    border: 2px dotted cornsilk; 
}